################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ColourGrid/obj
/ColourGrid/bin
/ColourGridTests/obj
/ColourGridTests/bin